.navbar-brand {
  position: center;
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.navbar-brand {
  background-color: #fff;
  /* Add a white background or any color */
  padding: 5px;
  /* Optional: Add some padding to make the logo look better */
}

.navbar {
  background-color: #333;
  /* Dark background color for contrast */
}