.app-slider-container {
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 150px;
}

.card-1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-1 img {
  width: 30%;
  border-radius: 8px;
  transition: transform 0.3s ease;
  align-items: center;
}

.card-1 img:hover {
  transform: scale(1.05)
}

.card-text {
  padding-top: 20px;
}